{% load static %}
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'banks/css/styles.css' %}">
</head>
<body>
    <div class="header-container">
    <h1>Welcome to the Accounts App</h1>
    </div>
    {% block content %}
 <div class="form-container">
   <a href="{% url 'accounts:register' %}" class=button>register account</a>

 </div>
 <div class="form-container">
   <a href="{% url 'accounts:login' %}" class=button>login</a>
 </div>  
    {% endblock %}
    

</body>
</html>
